p {
    color: rgb(146, 155, 179);
}

h1 {
    color: rgb(119, 126, 146);
}

h2 {
    color: rgb(119, 126, 146);
}

h3 {
    color: rgb(119, 126, 146);
}

h4 {
    color: rgb(119, 126, 146);
}

li {
    color: rgb(119, 126, 146);
}

body {
  background-color: #22253d;
  font-family: "DynaPuff";
  padding: 20px;
  line-height: 2;
  word-spacing: 35%;
  word-wrap: break-word;
}

summary {
    background-color: #696d8b;
    color: #23252e;
    border-radius: 8px;
    margin: 30px;
    padding: 18px;
}

#status {
    margin-left: 50px;
    margin-right: 50px;
    border-width: 20px;
}

#status-end {
    margin-left: 50px;
    margin-right: 50px;
    border-width: 20px;
    margin-bottom: 40px;
}

#GIVEMESPACE {
    margin-bottom: 40px;
}

#GIVEMEMORESPACE {
    margin-bottom: 60px;
}

#note {
    font-size: 0.8em;
    margin-bottom: 80px;
}

a {
    color: rgb(96, 97, 117);
    text-decoration: none;
    padding: 14px 16px;
    display: inline-block;
    text-align: center;

}

a:hover {
    color: rgb(141, 134, 134)
}

nav {
    background-color: rgb(24, 26, 43);
    overflow: hidden;
    border-radius: 8px;
    text-align: center;
    padding: 0;
}

button {
  color: black;
  font-family: "DynaPuff";
  background-color: rgb(173, 184, 204);
  border-width: 0;
  border-radius: 8px;
  padding: 15px;
}

input {
    color: rgb(34, 37, 41);
    font-family: "DynaPuff";
    background-color: rgb(173, 184, 204);
    border-width: 0;
    border-radius: 8px;
    padding: 15px 20px;
    width: 60%;
    padding: 10px;
    margin-bottom: 50px;
}

html {
  scroll-behavior: smooth;
}

.search-highlight {
  background: #b5badf;
  color: rgb(35, 51, 75);
  padding: 2px 4px;
  border-radius: 4px;
}

.search-result {
  margin-bottom: 20px;
  background: #313341;
  border-radius: 10px;
  margin: 15px;
  padding: 25px;
}

.search-result a {
  text-decoration: none;
}

.match-box {
  cursor: pointer;
  padding: 8px;
  margin: 6px 0;
  border-radius: 10px;
  border: 1px solid #191929;
  text-align: left;
}

.match-box:hover {
  background: #242438;
}

/*for table of contents*/
.layout {
    display: flex;
}

.sidebar {
    position: sticky;
    padding: 20px;
}

.sidebar a {
    text-decoration: none;
}

.sidebar a:hover {
    background: #242438;
}
