p {
    color: rgb(146, 155, 179);
}

h1 {
    color: rgb(119, 126, 146);
}

h2 {
    color: rgb(119, 126, 146);
}

h3 {
    color: rgb(119, 126, 146);
}

h4 {
    color: rgb(119, 126, 146);
}

li {
    color: rgb(119, 126, 146);
}

body {
  background-color: #22253d;
  font-family: "DynaPuff";
  padding: 20px;
  line-height: 2;
  word-spacing: 35%;
  word-wrap: break-word;
}

summary {
    background-color: #696d8b;
    color: #23252e;
    border-radius: 8px;
    margin: 30px;
    padding: 18px;
}

#status {
    margin-left: 50px;
    margin-right: 50px;
    border-width: 20px;
}

#status-end {
    margin-left: 50px;
    margin-right: 50px;
    border-width: 20px;
    margin-bottom: 40px;
}

#GIVEMESPACE {
    margin-bottom: 40px;
}

#GIVEMEMORESPACE {
    margin-bottom: 60px;
}

#note {
    font-size: 0.8em;
    margin-bottom: 80px;
}

/*js all my searchbox/index stuff mainly*/
a {
    color: rgb(96, 97, 117);
    text-decoration: none;
    padding: 14px 16px;
    display: inline-block;
    text-align: center;

}

a:hover {
    color: rgb(141, 134, 134)
}

nav {
    background-color: rgb(24, 26, 43);
    overflow: hidden;
    border-radius: 8px;
    text-align: center;
}

#well {
    background-color: rgb(24, 26, 43);
    overflow: hidden;
    border-radius: 8px;
    border-bottom-left-radius: 0px;
    text-align: center;
}

button {
  color: black;
  font-family: "DynaPuff";
  background-color: rgb(173, 184, 204);
  border-width: 0;
  border-radius: 8px;
  padding: 15px;
}

input {
    color: rgb(34, 37, 41);
    font-family: "DynaPuff";
    background-color: rgb(173, 184, 204);
    border-width: 0;
    border-radius: 8px;
    padding: 15px 20px;
    width: 60%;
    padding: 10px;
    margin-bottom: 50px;
}

html {
  scroll-behavior: smooth;
}

.search-highlight {
  background: #b5badf;
  color: rgb(35, 51, 75);
  padding: 2px 4px;
  border-radius: 4px;
}

.search-result {
  margin-bottom: 20px;
  background: #313341;
  border-radius: 10px;
  margin: 15px;
  padding: 25px;
}

.search-result a {
  text-decoration: none;
}

.match-box {
  cursor: pointer;
  padding: 8px;
  margin: 6px 0;
  border-radius: 10px;
  border: 1px solid #191929;
  text-align: left;
}

.match-box:hover {
  background: #242438;
}



/*for table of contents*/
.layout {
    display: flex;
    justify-content: flex-start;
    gap: 0;
    scrollbar-color: #3a3d5c rgb(18, 20, 32);
}

.sidebar {
    padding: 20px;
    overflow-y: hidden;

    width: 250px;
    top: 0px;
    height: 100vh;
    position: sticky;
    
    display: flex;
    flex-direction: column;

    background-color: rgb(18, 20, 32);
    border-right: 1px solid #29273a;

    transition: 0.3s ease;

}

.toc {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 100px;
    padding-top: 0;
    margin-top: 0;
}

.toc h2 {
    line-height: 0;
}

.sidebar.closed {
    width: 41px;
    overflow: hidden;
}

.sidebar.closed h2, 
.sidebar.closed li,
.sidebar.closed a {
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
}

.sidebar.closed .toc {
    overflow: hidden;
    pointer-events: none;
}

.sidebar a {
    text-decoration: none;
    display: block;
    transition: 0.3s;
    text-align: left;
}

.sidebar a:hover {
    background: #23233b;
    color: #b7b8e981;
}


#toggleSidebar {
    width: 40px;
    height: 40px;
    padding: 8px 14px;
    cursor: pointer;
    background-color: rgb(96, 97, 117)
}

.content {
    flex: 1;
    padding: 40px;
    transition: 0.3s ease;
}
